.services {
  padding-bottom: 94px;
}
.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-own {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-footer);
}

.work-lis {
  display: flex;
  justify-content: space-between;
}
.work-list-img {
  position: relative;
}
.work-img-text {
  min-width: 370px;
  position: absolute;
  bottom: 0;

  background-color: var(--bc-img-text);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
}


ul.feature-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .feature-list-item:not(:last-child) {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 270px; */
    height: 120px;
    background-color: var(--portfolio-bg);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .title-name {
    margin-bottom: 10px;
    font-size: 14px;
  }
  p.title-own {
    margin: 0;
    padding: 0;
  }
  .feature-list,
  .title {
    color: var(--primary-text-color);
  }

//-----portfolio-----

.working-prog {
    background-color: var(--portfolio-bg);
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    display: block;
    padding: 6px 22px;
    transition: color 250ms var(--cubic-active),
      background-color 250ms var(--cubic-active),
      box-shadow 250ms var(--cubic-active);
  }

  .examples {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }
  .examples-text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-footer);
    margin-top: 8px;
  }
  .workers-lt {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .workers-pos:hover .workers-top-text,
  .workers-pos:focus .workers-top-text {
    transform: translateY(0);
  }
  .workers-top-wrap {
    position: relative;
    overflow: hidden;
  }
  .workers-top-text {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding: 63px 24px;
    background-color: var(--bg-portfolio-accent);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic-active);
  }
  .workers-text {
    background: var(--header-bg);
    border-top: 0;
    border: 1px solid #eeeeee;
    padding: 20px 24px;
  }
  .workers-pos {
    transition: box-shadow 250ms var(--cubic-active);
  }
 
  
  .working-prog:hover,
  .working-prog:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .workers-pos:hover,
  .workers-pos:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .working-button:not(:last-child) {
    margin-right: 8px;
  }
  .button-item {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }